# disable autofixing PRs, commenting "pre-commit.ci autofix" on a pull request triggers a autofix
ci:
  autofix_prs: false
repos:
  # generic verification and formatting
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      # standard end of line/end of file cleanup
      - id: mixed-line-ending
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-merge-conflict
  - repo: meta
    # see https://pre-commit.com/#meta-hooks
    hooks:
      - id: check-hooks-apply
      - id: check-useless-excludes
  - repo: https://github.com/codespell-project/codespell
    # see setup.cfg
    rev: v2.3.0
    hooks:
      - id: codespell
        args: [--write-changes]
  # lint markdown
  - repo: https://github.com/DavidAnson/markdownlint-cli2
    rev: v0.17.2
    hooks:
      - id: markdownlint-cli2
        args: [ --fix ]
  - repo: local
    hooks:
    - id: cep-header
      name: CEP must start with a '# CEP \d - Title' header
      entry: ^# CEP (\d{1,4}|XXXX) - .+$
      language: pygrep
      types: [text]
      args: [--negate]
      files: cep-.+\.md
    - id: cep-nodash
      name: CEPs must be referred to with 'CEP N' (no dash)
      entry: CEP-+\d+
      language: pygrep
      types: [text]
      files: cep-.+\.md
    - id: cep-nozero
      name: CEPs must be referred to with 'CEP N' (no leading zeros)
      entry: CEP[- ]+0+\d+
      language: pygrep
      types: [text]
      files: cep-.+\.md
    - id: cep-hrefs
      name: Links to CEPs must be relative (no leading slash)
      entry: '\(/cep-\d{4}\.md\)'
      language: pygrep
      types: [text]
      files: cep-.+\.md
    - id: email-tags
      name: Email addresses must use &lt; and &gt;
      entry: <[^<>\s]+@[^<>\s]+>
      language: pygrep
      types: [text]
      files: cep-.+\.md
    - id: cep-filenames
      name: CEP filenames must be 'cep-XXXX.md'
      entry: CEP documents must be named '/cep-XXXX.md'
      language: fail
      files: ^.*cep-.*\.md.*$
      exclude: ^cep-(\d{4}|XXXX)\.md$
